
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>

<title></title>
</head>
<body>
	<form action="a/writeImage" method="post" enctype="multipart/form-data">
		<div align="center">
            <fieldset style="width:80%">
                <legend>上传文件</legend><br/>
                    <div align="left">需要保密的文件</div>
                    <div align="left">
                        <input type="file" name="docField"/>
                    </div>
                    <div align="left">保密信息载体BMP图片文件</div>
                    <div align="left">
                        <input type="file" name="imageField"/>
                    </div>
                    <div>
                        <div align='left'>
                            <input type='submit' value="隐藏
"/>
                        </div>
                    </div>
            </fieldset>
        </div>	
	</form>
</body>
</html>